<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="employee">
        <div class="header">
            <div class="header-left">
                <div class="m-icon toggle-icon"></div>
                <div class="logo">
                    <img class="img-icon" src="../assets/img/Logo_Module_TiengViet_White.66947422.svg" alt="">
                </div>
                <!-- <div class="name">KẾ TOÁN</div> -->
            </div>

            <div class="header-right">
                <div class="m-icon menu-icon"></div>
                <div class="header-branch">
                    <div class="header-branch-name">CÔNG TY TNHH SẢN XUẤT - THƯƠNG MẠI - DỊCH VỤ QUI PHÚC</div>
                    <div class="header-branch-icon">
                        <div class="branch-icon"></div>
                    </div>
                </div>
                <div class="menu-right">
                    <div class="m-icon nav-icon notify-icon"></div>
                    <button class="dropdown-user">
                        <div class="header-user-ava-img"></div>
                        <div class="username">Nguyễn Văn Mạnh</div>
                        <div class="dropdown-icon"></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="sidebar">
                Sidebar
            </div>
            <div class="page">
                <div class="page-header">header</div>
                <div class="page-content">
                    <div class="page-toolbar">
                        toolbar
                    </div>
                    <div class="page-table">
                        table
                    </div>
                    <div class="page-paging">
                        paging
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>