.m-dropdown-menu {
  padding-top: 10px;
  position: absolute;
  height: auto;
  width: auto;
  z-index: 9990;
  transform: translate(-100%);
  transition: opacity 0.25s, transform 0.25s, width 0.3s ease;
}

.m-dropdown-menu-items {
  background: #fff;
  padding: 2px 1px;
  border-radius: 2px;
  border: 1px solid #babec5;
  position: relative;
}

.m-dropdown-item {
  white-space: nowrap;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1000;
  text-align: left;
  width: 100%;
  list-style: none;
  min-width: 100px;
  font-family: Notosans-Semibold !important;
  font-size: 13px;
}

.m-dropdown-item:hover {
  color: #08bf1e;
  background-color: #e8e9ec;
}

.m-dropdown-item-link {
  background: inherit !important;
  color: inherit !important;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  position: relative;
  display: block;
  color: rgba(0, 0, 0, 0.7);
}

.m-combo-box {
  position: relative;
  width: 100%;
}

.m-combo-main-content {
  display: flex;
  min-height: 36px;
  border: 1px solid #babec5;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.m-combo-main-content:focus {
  border-color: #2ca01c;
}

.m-selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  width: calc(100% - 32px);
  align-items: center;
  padding: 0 0 0 12px;
}

.m-combo-input {
  border: none;
  font-size: 13px;
  padding-right: unset;
  text-overflow: ellipsis;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.m-combo-action {
  display: flex;
}

.m-btn-dropdown {
  position: relative;
  width: 36px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.m-btn-dropdown:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.m-combo-dropdown-panel,
.m-combo-menu {
  transition: opacity 0.1s, transform 0.1s, width 0.2s ease;
  z-index: 10000;
  position: absolute;
  background-color: #fff;
  border: 1px solid #babec5;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 -8px 34px 0 rgba(0, 0, 0, 0.05);
  display: none;
}

.m-combo-menu {
  min-width: 400px;
  display: none;
}

.m-combo-dropdown-panel {
  min-width: 200px;
}

.m-dropdown-body-container {
  padding: 2px 0;
}

.m-combo-box-item {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 14px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  height: 32px;
  cursor: pointer;
}

.m-combo-box-item:hover {
  background-color: #ebedf0;
  color: #2ca01c;
}

.m-item-highlight {
  background-color: #2ca01c !important;
  color: #fff !important;
}

.m-dropdown-close {
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}

.m-dropdown-open {
  transform: rotate(180deg);
  transition: transform 0.15s linear;
}

.m-combo-menu-header {
  background: #f4f5f8;
}

.m-menu-table {
  width: 100%;
  border-collapse: collapse;
}

.m-menu-header {
  color: #111;
  height: 32px;
}

.m-menu-header-th {
  padding: 0 10px;
  height: 32px;
}

.m-combo-menu-content {
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2px 1px;
}

.m-menu-items-tr {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
}

.m-menu-items-tr:hover {
  color: #35bf22;
  background-color: #ebedf0;
}

.toggle {
  display: block;
}
